body {
  background-image: url("./img/05ed15cd-274b-4278-a7d7-c3ca3849b083.jpg");
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 450px !important;
  padding: 40px 40px;
}


.col-md-12 h1 {
  text-align: center;
  margin-top: 25px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-header {
  padding-top: 0px; 
  padding-bottom: 6px;
}

.card-header-text {
  width: 100%;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 20px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.post-img-card {
  width: 26px;
  height: 26px;
  margin-right: 16px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; 
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.navbar {
  min-width: 600px;
  background-color: #FFDE59;
  box-shadow: 0px 6px 6px rgb(146, 139, 139);
}

.navbar-brand {
  margin-left: 20px;
  color: black;
}

.nav-link {
  color: black
}

.home {
  text-align: center;
  margin-top: 50px;
  min-width: 600px;
}

.home-titulo {
  font-size: 50px
}

.home-subtitulo {
  font-size: 25px;
}

.btn-home {
  margin-top: 50px;
}

.board-user {
  margin-left: 16px;
  margin-left: 16px;
  margin-top: 26px;
}

.btn-form {
  margin-top: 16px;
}

.btn-gp {
  margin-top: 16px;
  width: 100%;
}

.btn-border {
  border: 1px solid #ced4da;
}

.btn-border:hover {
  border: 1px solid #ced4da;
  background-color: #ced4da;
}

.alrt-block {
  margin-top: 16px;
  width: 100%;
}

.margin-box {
  margin: 0 auto 25px;
}

.flex-box {
  display: flex
}

.flex-item {
  margin: 40px 30px;
  padding: 20px 25px;
  box-shadow: 6px 6px 10px rgb(146, 139, 139);
  background-color: #f7f7f7;
}

.fi-user {
  width: 400px;
  height: 500px;
  margin-right: 15px;
  text-align: center;
}

.fi-post-box {
  height: 200px;
}

.fi-user img {
  margin-bottom: 26px;
}

.fi-post {
  margin-left: 15px;
}

.fi-post textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.fi-post hr {
  border: 0;
	border-top: 2px solid #CCC;
  margin-top: 24px;
  margin-bottom: 24px;
}

.user-container {
  min-width: 600px;
  max-width: 1000px;
  margin: 0 auto 25px;
}

.btn-post {
  margin-top: 16px;
}

.all-post {
  width: 100%;
}

.post-items {
  width: 100%;
  margin: 40px 30px;
  padding: 20px 25px;
  box-shadow: 6px 6px 10px rgb(146, 139, 139);
  background-color: rgba(247,247,247,0.5);
}

.navbar-img {
  height: 25px
}

.navbar-brand {
  padding-top: 0px;
}

footer {
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: #f7f7f7;
  border-top: 6px solid #CCC;
}

.footer-text {
  width: 50%;
  margin: 16px 50px;
}

.footer-text p {
  margin-bottom: 2px;
}

.p-numero {
  padding-left: 48px;
}

.footer-icon {
  width: 50%;
  margin: 16px 50px;
  text-align: center;
}

.footer-img {
  height: 40px
}

.footer-icon img {
  margin: 16px;
}